.userprofile-container {
  max-width: 1200px;
  margin: 1.875rem auto;
  display: flex;

  .profile-image_container {
    width: 40%;
    margin-bottom: 2rem;
  }
  .profile-picture {
    width: 300px;
    height: 450px;
    border-radius: 10px;
  }

  .recent-work_container {
    display: inline-block;
    border: 1px solid rgba(180, 176, 176, 0.644);
    border-radius: 10px;
    padding: 1rem;
  }
  .recent-work {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .recent-work_heading {
    margin: 0.5rem 0rem;
    .h1 {
      font-size: 1rem;
    }
  }
  .recent-work_item {
    margin-right: 0.875rem;
  }
  .recent-work_picture {
    width: 130px;
    height: 150px;
    border-radius: 10px;
  }
  .recent-work_linkContainer {
    margin-top: 1rem;
  }
  .recent-work_link {
    font-size: 1rem;
  }

  .userprofile_detailed {
    width: 100%;
    padding: 0rem 1.25rem;
    margin: 0rem 1rem;

    .username {
      margin-bottom: 0px;
    }
  }
  .sells-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card-sells_container {
    margin-bottom: 1.125rem;
  }
}
