.Tender-request-container {
  width: 100%;
  margin: 0 auto;

  .tender-request-info {
    width: 98%;
    margin: 0 auto;
  }

  .detail-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .item-part {
      margin-right: 1rem;
      font-size: 1.125rem;
      font-weight: 500;
    }
    .item-info {
      margin-left: 3rem;
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  .image-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
