.platform-container {
  height: 100vh;
  margin: 0rem auto;
  width: 100%;
}

.platform-heading {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 1.25rem 1rem;
}

.platformlist-row {
  margin: 0 -5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.platformlist-row:after {
  content: '';
  display: flex;
}

.platformlist-card {
  padding: 16px;
  // text-align: center;
  width: 350px;
  height: 250px;
  display: flex;
  // justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .platformlist-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
